extends ../../layouts/default.pug

block main
    h1 Trang chủ
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas, repellendus sapiente, quasi ipsa quos reiciendis suscipit iste rem quis dolores. Voluptatum et quia nisi quam accusamus fugiat facilis dolore!