doctype html
html
    head 
        title #{pageTitle}
        link(href="/css/output.css" rel="stylesheet")
    body
        include ../partials/header.pug

        block main

        include ../partials/footer.pug
