header.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/admin/dashboard")
                        img(src="/images/logo-m.jpg", alt="" style="width: 56px; height: 56px; margin-left: 30px")
            .col-9
