header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/logo-m.jpg", alt="logo" class="custom-logo")
            .col-9
                .inner-menu
                    ul(class="d-flex list-unstyled fs-5 align-items-center justify-content-end")
                        li
                            a(href="/" class="text-dark") Trang chủ
                        li
                            a(href="/products" class="text-dark") Sản phẩm
                        